.contact-section {
    background-color: rgba(0, 0, 0, 0);
    padding: 40px 0;
    position: relative;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0);
    padding: 0;
    border-radius: 0;
    text-align: center
}


.contact-info {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
body {
    background-color: rgba(91, 68, 38, 0.74);
}
.contact-item {
    text-align: center;
    margin: 0;
    padding: 0;
}

.contact-item h3 {
    color: rgb(42, 39, 39);
}

.contact-item p {
    color: rgb(42, 39, 39);
}


