body {
    background-color: rgba(91, 68, 38, 0.74);
}

.carousel-caption.caption-left-top {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 20px;
    text-align: left;
    font-family: 'Poppins', serif;
    font-weight: 600;
    background: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    width: 100%;
    max-width: 300px;
}

.carousel-caption.caption-right-top {
    position: absolute;
    top: 20px;
    left: auto;
    right: 20px;
    padding: 20px;
    text-align: right;
    font-family: 'Poppins', serif;
    font-weight: 600;
    background: rgba(0, 0, 0, 0);
    color: rgba(77, 59, 33, 0.74);
    width: 100%;
    max-width: 300px;
}

.carousel-container {
    max-width: 75%;
    margin: 0 auto;
}

.carousel-caption.text-end, .carousel-caption.text-start {
    max-width: 250px;
}

.carousel-caption.text-end h5,
.carousel-caption.text-start h5 {
    font-size: 40px;
}

.carousel-caption.text-end p,
.carousel-caption.text-start p {
    font-size: 25px;
}

.carousel-caption.text-end,
.carousel-caption.text-start {
    width: 100%;
    max-width: 600px;
}
h1 {
    text-align: center;
    background: rgba(153, 108, 54, 0.72);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.image {
    flex: 1 0 24%;
    margin: 8px;
    overflow: hidden;
}

.image img {
    width: 100%;
    height: auto;
    display: block;
}

.card {
    width: 18rem;
    margin: 18px;
}

.card img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.btn-primary {
    background-color: #8B4513;
    border-color: #8B4513;
}

.btn-primary:hover {
    background-color: #A0522D;
    border-color: #A0522D;
}


.card-container {
    position: relative;
}

.learn-more-button {
    position: relative;
    bottom: 0;
    right: 0;
    left: 1050px; /* Пример отрицательного значения для сдвига вправо */
    margin-bottom: -5px;
    background-color: rgb(66, 31, 11);
}
