
.profile-info {
  max-width: 350px;
  margin: 20px;
  border: 2px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-info p {
  font-size: 18px;
  margin: 10px 0;
}

.logout-link {
  display: block;
  width: 350px;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  background-color: #421f0b;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.logout-link:hover {
  background-color: rgba(114, 86, 50, 0.74);
}
