{% extends 'base.html' %}
{% block content %}
    <form method="get">
        <label for="category">Category</label>
        <select name="q" id="category">
            <option value="">All</option>
            {% for category in categories %}
                <option value="{{ category.title }}"> {{ category.title }}</option>
            {% endfor %}
        </select>
        <button type="submit">Filter</button>
    </form>

    <div style="display: flex; justify-content: space-between; align-items: start; flex-wrap: wrap; max-width: 80vw;">
        {% for animal in animals %}
            <form method="POST" style="margin: 50px">
                {% csrf_token %}
                <div class="col" style="width: 200px; margin: 0px;">
                    <div class="card" style="width: 18rem;margin:18px">
                        <img src="{{ animal.imageURL }}" class="card-img-top" alt="..."
                             style="height: 18rem; width: 18rem">
                        <div class="card-body">
                            <h5 class="card-title">{{ animal.name }}</h5>
                            <h5 class="card-title">{{ animal.price }}</h5>
                            <p class="card-text">{{ animal.description }}</p>
                        </div>
                        <input style="display: none;" type="number" name="prod" id="prod" value="{{animal.id}}">
                        <button type="submit" class="btn btn-primary">Adopt</button>
                    </div>
                </div>
            </form>
        {% endfor %}
    </div>
{% endblock %}

