{% extends 'base.html' %}
{% block content %}
  <form method="get">
    <label for="category">Category</label>
    <select name="q" id="category">
      <option value="">All</option>
      {% for category in categories %}
        <option value="{{ category.title }}"> {{ category.title }}</option>
      {% endfor %}
    </select>
    <button type="submit">Filter</button>
  </form>

<div style="display: flex; justify-content: space-between; align-items: start; flex-wrap: wrap; margin: 0 auto; max-width: 100vw;">
    {% for animal in animals %}
    <div class="col">
      <div class="card" style="width: 18rem;margin:18px">
        <img src="{{ animal.imageURL }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ animal.name }}</h5>
          <h5 class="card-title">{{ animal.price }}</h5>
          <p class="card-text">{{ animal.description }}</p>
        </div>
        <a href="#" class="btn btn-primary">Adopt</a>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}