{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/donate-volunteer.css' %}">
  <div class="form-container">
    <h2 class="form-title">Donate</h2>
    <form method="post" action="{% url 'Donate' %}">
        {% csrf_token %}
        <div class="form-group">
            {{ form.name.label_tag }}
            {{ form.name }}
        </div>
        <div class="form-group">
            {{ form.amount.label_tag }}
            {{ form.amount }}
        </div>
        <div class="form-group">
            {{ form.credit_card_number.label_tag }}
            {{ form.credit_card_number }}
        </div>
        <button type="submit" class="form-submit">Submit Donation</button>
    </form>
  </div>
{% endblock %}