{% extends 'base.html' %}
{% block content %}

    <h2>Profile</h2>

    <div class="profile-info">
        <p><strong>Name:</strong> {{ user.username }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
    </div>

    <a href="{% url 'Logout' %}">Logout</a>

    <div  style="display: flex; justify-content: space-between; align-items: start; flex-wrap: wrap; margin:0 auto; max-width: 80vw;">
        {% for i in orders %}
            {% for j in i.animals.all %}
                <form method="POST" style="margin: 10px; width: 300px">
                {% csrf_token %}
                <div class="col">
                    <div class="card">
                        <img src="{{ j.imageURL }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ j.name }}</h5>
                            <h5 class="card-title">{{ j.price }}</h5>
                            <p class="card-text">{{ j.description }}</p>
                        </div>
                        <input style="display: none;" type="number" name="del" id="del" value="{{i.id}}">
                        <button type="submit" class="btn btn-primary">Cancel</button>
                    </div>
                </div>
            </form>
            {% endfor %}
        {% endfor %}
    </div>

{% endblock %}