{% extends 'base.html' %}
{% load static%}
{% block content %}
<section>
  <div class="login">
  {% if page == 'signin'%}
  <h1>Sign in</h1>
  <form method="POST">
    {% csrf_token %}
    <label for="username">Username</label>
    <input type="text" name="username" id="username ">
    <label for="password">Password</label>
    <input type="password" name="password" id="password ">
    <input class="auth-btn auth-btn-red" type="submit" value="Sign in">
  </form>
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
  <span>Not registered yet?</span>
  <a class="auth-btn auth-btn-white" href="{% url 'Register' %}">Sign up</a>
  </div>
  {% else %}
  <div class="login">
  <h1>Sign up</h1>
  <form action="" method="POST">
    {% csrf_token %}
    {{form}}
    <input class="auth-btn auth-btn-white" type="submit" value="Register">
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <span>Already registered ?</span>
  </form>
  <a class="auth-btn auth-btn-red" href="{% url 'Login' %}">Sign in</a>
  </div>
  {% endif %}
</section>
{% endblock %}